/* Style sheet referred to by index.html */

* {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    list-style-type: none;
    
}

a:link {
    color: #ffffff;
}

.top {
    display: flex 1;
    color: #f9faf8;
    background-color: #1f2937;
}

.header {
    display: flex;
    font-size: 24px;
    align-items: center;
    color: #f9faf8;
    background-color: #1f2937;
    justify-content: space-around;
}

ul {
    display: flex;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-size: 18px;
    font-weight: 200;
}

.block1 {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-content: center;
    flex-basis: 1;

}

.left {
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    gap: 0px;
}

.button1 {}


.right {
    display: flex;
    background-color: #b8c0d1;
    align-items: center;
    align-content: center;
    flex-basis: 200px;
    max-height: 100px;
    padding: 25px;

}



.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.images {
    max-width: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
    background-color: #e5e7eb;

}

.sig {
    font-weight: 400;
}
.footer {
    background-color: #3882f6;
    color: #ffffff;
    border: 2px;
    border-radius: 10px;
}

.button1, .button2 {
    color: #ffffff;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 5px;
    width: 75px;
}

.button2 {
    border-color: #ffffff;
}